---
import BaseLayout from "@/layouts/base-layout.astro"
import Hero from "@/components/hero.astro"
import About from "@/components/about.astro"
import Projects from "@/components/projects.astro"
import TechStack from "@/components/tech-stack.astro"
---

<BaseLayout>
  <div class="flex flex-col gap-24 md:gap-32">
    <div class="fade-up" style="--delay: 0ms"><Hero /></div>
    <div class="fade-up" style="--delay: 100ms"><About /></div>
    <div class="fade-up" style="--delay: 200ms"><TechStack /></div>
    <div class="fade-up" style="--delay: 300ms"><Projects /></div>
  </div>
</BaseLayout>
